<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stellar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Stellar.Properties.Settings>
            <setting name="retroarchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="architecture" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxCores" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="download" serializeAs="String">
                <value />
            </setting>
            <setting name="listExcludedCores" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sevenZipPath" serializeAs="String">
                <value />
            </setting>
            <setting name="winRARPath" serializeAs="String">
                <value />
            </setting>
            <setting name="logPath" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="themes" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxThemes" serializeAs="String">
                <value />
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="downloadServer" serializeAs="String">
                <value />
            </setting>
        </Stellar.Properties.Settings>
    </userSettings>
</configuration>